- content_for :javascripts do
	= javascript_include_tag 'artisan_engine/catalog/tablesorter/jquery.tablesorter.min' unless Rails.env.production?

	:javascript
		$(document).ready( function() {
			$(".tablesorter").tablesorter(); 
		});

- content_for :stylesheets do
	= stylesheet_link_tag 'artisan_engine/catalog/embed/tablesorter/blue/blue' unless Rails.env.production?

%h1 Manage Orders
%table#orders.tablesorter
	%thead
		%tr
			%th ID
			%th Payment Status
			%th Fulfillment Status
			%th
	
	%tbody
		= render @orders