:javascript
	$(document).ready( function() {
		$('#shipping_state').html( '#{ escape_javascript( render 'state_select', :country => 'US', :type => 'shipping' ) }' );

		$('#shipping_address_country').change( function() {
			var country_code = $('#shipping_address_country option:selected').attr('value');
			
			$.ajax({
				type: 	 "GET",
				dataType: "script",
				url: 		 '/update_state_select?type=shipping&country=' + country_code
			});
		});
		
		$('#billing_state').html( '#{ escape_javascript( render 'state_select', :country => 'US', :type => 'billing' ) }' );
		
		$('#billing_address_country').change( function() {
			var country_code = $('#billing_address_country option:selected').attr('value');
			
			$.ajax({
				type: 	 "GET",
				dataType: "script",
				url: 		 '/update_state_select?type=billing&country=' + country_code
			});
		});
	});